<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>highChars测试</title>
</head>
<body>
<div id="container-reds" style="width:70%;height:400px;float: left;box-sizing: border-box"></div>
<div id="container-blues" style="width:30%;height:400px;float: left;box-sizing: border-box"></div>
<script src="https://cdn.hcharts.cn/highcharts/highcharts.js"></script>
<!-- 红球-->
<script th:inline="javascript">
    var reds =[[${reds}]];
    var total =[[${total}]];
    var chart = Highcharts.chart('container-reds', {
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: '双色球每期红球总值和总值分布图'
        },
        subtitle: {
            text: '数据来源: 有妖气'
        },
        xAxis: {
            title: {
                enabled: true,
                text: '次'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: '总值次数'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '总值：{point.x} , {point.y}次 '
                }
            }
        },
        series: [{
            name: '红球总值分布',
            color: 'rgba(223, 83, 83, .5)',
            data:reds
        },{
            name: '总值分布',
            color: 'rgba(119, 152, 191, .5)',
            data:total
        }]
    });
    // 图表初始化函数
    var chart = Highcharts.chart('containe-reds', options);
</script>
<!-- 兰球-->
<script th:inline="javascript">
    var dataList =[[${blues}]];
    var chart = Highcharts.chart('container-blues', {
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: '双色球每期蓝球值分布图'
        },
        subtitle: {
            text: '数据来源: 有妖气'
        },
        xAxis: {
            title: {
                enabled: true,
                text: '次'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: '蓝球值次数'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '蓝球：{point.x} , {point.y}次 '
                }
            }
        },
        series: [{
            name: '蓝球值分布',
            color: 'rgba(119, 152, 191, .5)',
            data:dataList
        }]
    });
    // 图表初始化函数
    var chart = Highcharts.chart('container-blues', options);
</script>
</body>
</html>