<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.coders.pastime.service.mapper.DoubleballMapper" >
  <resultMap id="BaseResultMap" type="cn.coders.pastime.entity.Doubleball" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="red1" property="red1" jdbcType="INTEGER" />
    <result column="red2" property="red2" jdbcType="INTEGER" />
    <result column="red3" property="red3" jdbcType="INTEGER" />
    <result column="red4" property="red4" jdbcType="INTEGER" />
    <result column="red5" property="red5" jdbcType="INTEGER" />
    <result column="red6" property="red6" jdbcType="INTEGER" />
    <result column="blue" property="blue" jdbcType="INTEGER" />
    <result column="sales" property="sales" jdbcType="BIGINT" />
    <result column="accumulatedSales" property="accumulatedsales" jdbcType="DOUBLE" />
    <result column="oneNum" property="onenum" jdbcType="BIGINT" />
    <result column="oneBonus" property="onebonus" jdbcType="BIGINT" />
    <result column="twoNum" property="twonum" jdbcType="BIGINT" />
    <result column="twoBonus" property="twobonus" jdbcType="BIGINT" />
    <result column="threeNum" property="threenum" jdbcType="BIGINT" />
    <result column="fourNum" property="fournum" jdbcType="BIGINT" />
    <result column="fiveNum" property="fivenum" jdbcType="BIGINT" />
    <result column="sixNum" property="sixnum" jdbcType="BIGINT" />
    <result column="year" property="year" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from doubleball
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.coders.pastime.entity.Doubleball" >
    insert into doubleball (id, red1, red2, 
      red3, red4, red5, red6, 
      blue, sales, accumulatedSales, 
      oneNum, oneBonus, twoNum, 
      twoBonus, threeNum, fourNum, 
      fiveNum, sixNum, year
      )
    values (#{id,jdbcType=INTEGER}, #{red1,jdbcType=INTEGER}, #{red2,jdbcType=INTEGER}, 
      #{red3,jdbcType=INTEGER}, #{red4,jdbcType=INTEGER}, #{red5,jdbcType=INTEGER}, #{red6,jdbcType=INTEGER}, 
      #{blue,jdbcType=INTEGER}, #{sales,jdbcType=BIGINT}, #{accumulatedsales,jdbcType=DOUBLE}, 
      #{onenum,jdbcType=BIGINT}, #{onebonus,jdbcType=BIGINT}, #{twonum,jdbcType=BIGINT}, 
      #{twobonus,jdbcType=BIGINT}, #{threenum,jdbcType=BIGINT}, #{fournum,jdbcType=BIGINT}, 
      #{fivenum,jdbcType=BIGINT}, #{sixnum,jdbcType=BIGINT}, #{year,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.coders.pastime.entity.Doubleball" >
    update doubleball
    set red1 = #{red1,jdbcType=INTEGER},
      red2 = #{red2,jdbcType=INTEGER},
      red3 = #{red3,jdbcType=INTEGER},
      red4 = #{red4,jdbcType=INTEGER},
      red5 = #{red5,jdbcType=INTEGER},
      red6 = #{red6,jdbcType=INTEGER},
      blue = #{blue,jdbcType=INTEGER},
      sales = #{sales,jdbcType=BIGINT},
      accumulatedSales = #{accumulatedsales,jdbcType=DOUBLE},
      oneNum = #{onenum,jdbcType=BIGINT},
      oneBonus = #{onebonus,jdbcType=BIGINT},
      twoNum = #{twonum,jdbcType=BIGINT},
      twoBonus = #{twobonus,jdbcType=BIGINT},
      threeNum = #{threenum,jdbcType=BIGINT},
      fourNum = #{fournum,jdbcType=BIGINT},
      fiveNum = #{fivenum,jdbcType=BIGINT},
      sixNum = #{sixnum,jdbcType=BIGINT},
      year = #{year,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, red1, red2, red3, red4, red5, red6, blue, sales, accumulatedSales, oneNum, 
    oneBonus, twoNum, twoBonus, threeNum, fourNum, fiveNum, sixNum, year
    from doubleball
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, red1, red2, red3, red4, red5, red6, blue, sales, accumulatedSales, oneNum, 
    oneBonus, twoNum, twoBonus, threeNum, fourNum, fiveNum, sixNum, year
    from doubleball
  </select>
</mapper>