<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coders.pastime.service.mapper.DoubleballMapper">

    <select id="getRedTotalAndTimes" resultType="java.util.Map">
        SELECT
            a.total,
            COUNT(a.total) AS times
        FROM
            doubleball a
        GROUP BY
            a.total;
    </select>
    <select id="getBlues" resultType="java.util.Map">
        SELECT
            a.blue,
            COUNT(a.blue) AS times
        FROM
            doubleball a
        GROUP BY
          a.blue;
    </select>
    <select id="getTotalAndTimes" resultType="java.util.Map">
        SELECT
            a.total+a.blue AS total,
            COUNT(a.total+a.blue) AS times
        FROM
            doubleball a
        GROUP BY
            (a.total+a.blue);
    </select>
</mapper>